{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{% block title %}Notatia | Your Corporate Collaborative Memory{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-responsive.min.css' %}">
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/start/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    {% block styles %}{% endblock %}
    <script src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
    <script src="{% static 'js/underscore-min.js' %}"></script>
    <script src="{% static 'js/backbone-min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/csrf.js' %}"></script>
    {% block scripts %}{% endblock %}
  </head>
  <body>
    <div class="container">
      <div class="navi">
        <a href = "{% url 'index' %}"><img src="{% static 'img/notatia_logo.png' %}" width="200px"/> </a>
        <ul>
          <li><a href="#">About</a></li>
		  <li>|</li>
          <li><a href="#">Pricing</a></li>
          <li>|</li>
          <li><a href="#">FAQ</a></li>
          <li>|</li>
          <li><a href="#">Team</a></li>
          <li>|</li>
          <li><a href="#">Contact Us</a></li>
          <li>|</li>   
          <li><a href="#">Careers</a></li>
        </ul>
      </div>
    </div>
    {% block content %}{% endblock %}
  </body>
</html>
