{% extends "base.html" %}
{% load staticfiles %}

{% block scripts %}
  <script src="{% static 'js/search.js' %}"></script>
  <script src="{% static 'js/capsule-preview.js' %}"></script>
  <script>
    {% autoescape off %}
    var capsule = new Object({{ capsule }});
    {% endautoescape %}
  </script>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row-fluid" id="main-body">
    <div class="span4 capsule" id="linked-pane">
      <h3 class="title">Linked Capsules</h3>
      <form class="form-search text-center" id="search-form">
        <div class="input-append">
          <input type="text" class="input-large search-query">
            <button type="submit" class="btn"><i class="icon-search"></i></button>
          </div>
      </form>
      <div id="main-stream">
        <div class="friend capsule">I'm a linked Capsule!</div>
        <div class="friend capsule">
          <img class="img-rounded pull-right" src="http://i.imgur.com/smAy2ib.jpg" alt="dogs">
            <h4 class="media-heading">Hey there little buddy</h4>
            <p>This is my text.</p>
          </div>
        </div>
      <div class="pagination pagination-centered">
        <ul>
          <li class="disabled"><a href="#">&laquo;</a></li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
