{% extends "base.html" %}
{% load staticfiles %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.tagsinput.css' %}">
{% endblock %}

{% block scripts %}
<script src="{% static 'js/feed.js' %}"></script>
<script src="{% static 'js/jquery.tagsinput.min.js' %}"></script>
<script type="text/javascript">
  $(function() {
    $('#tags').tagsInput({
        'width':'488px',
        'height': '50px',
        'placeholderColor' : '#999'
    });
  });
</script>


{% endblock %}

{% block content %}
{% csrf_token %}


<div class="container">
	
<div>
  <div class="login">Welcome {{ user }}!</div>
  <div class="login"><a href="{% url 'logout' %}">Logout</a></div>
  <div class="login"><a href="#/new">New Capsule</a></div>
</div>
		
<div class="page"></div>

</div>

<script type="text/template" id="edit-capsule-template">
<div class="addcapsule">
  <form class="edit-capsule-form">
  	<input type="text"  name="title" />
    <textarea id="text" name="text" placeholder="Capsule text goes here"></textarea>
    <input name="tags" id="tags" value="" />
    <div id="form_float">
      <button type="submit" id="add_capsule">+</button>
    </div>
  </form> 
</div>
</script>

<script type="text/template" id="capsule-list-template">

<table class="table striped">
<thead>
<tr>
<th>Title</th>
<th>Text</th>
<th>Path</th>
</tr>
</thead>
<tbody>
	<% _.each(capsules, function(capsule) { %>
		<tr>
			<td><%= capsule.get('title')%></td>
			<td><%= capsule.get('text')%></td>
			<td><%= capsule.get('path')%></td>
		</tr>
	<% }) %>
</tbody>
</table>
</script>




{% endblock %}
