{% extends "base.html" %}
{% load staticfiles %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.tagsinput.css' %}">
{% endblock %}

{% block scripts %}
<script src="{% static 'js/feed.js' %}"></script>
<script src="{% static 'js/jquery.tagsinput.min.js' %}"></script>
<script type="text/javascript">
  $(function() {
    $('#tags').tagsInput({
        'width':'488px',
        'height': '50px',
        'placeholderColor' : '#999'
    });
  });
</script>
{% endblock %}

{% block content %}
{% csrf_token %}


<div class="container">
<div>
  <div class="login">Welcome {{ user }}!</div>
  <div class="login"><a href="{% url 'logout' %}">Logout</a></div>
  <form>
    <button id="new_capsule">+ new capsule</button>
  </form>
</div>
<div class="addcapsule">
  <form>
    <textarea id="text" placeholder="Capsule text goes here"></textarea>
    <input name="tags" id="tags" value="" />
    <div id="form_float">
      <button id="add_capsule">+</button>
    </div>
  </form> 
</div>
</div>
{% endblock %}
