{% extends "base.html" %}
{% load staticfiles %}

{% block scripts %}
<script src="{% static 'js/feed.js' %}"></script>
<script type="text/javascript">
  $(function() {
  $('#tags').tagsInput();
  $('#tags').addTag('foo');
  });
</script>
{% endblock %}

{% block content %}
{% csrf_token %}
<div id = "welcome" class = "login">Welcome {{ user }}!</div>

<div id = "logout" class = "login"><a href="{% url 'logout' %}">Logout</a></div>

<div>
  <form>
    <button>+ new capsule</button>
  </form>
</div>
<div class="addcapsule">
  <form>
    <textarea id="text" placeholder="Capsule text goes here"></textarea>
    <input name="tags" id="tags" value="test1" />
    <button>+</button>
  </form>
  
</div>
{% endblock %}
