{% extends "base.html" %}
{% load staticfiles %}

{% block scripts %}
  <script src="{% static 'js/search.js' %}"></script>
  <script src="{% static 'js/feed.js' %}"></script>
{% endblock %}

{% block content %}

<div class="container">
  <form class="form-search text-center" id="search-form">
    <div class="input-append">
      <input type="text" class="input-xxlarge search-query" placeholder="Search">
        <button type="submit" class="btn"><i class="icon-search"></i></button>
      </div>
    </form>
  <div class="span12" id="main-stream">
  </div>
  <div class="pager" id="load-more">
    <li><a href="#">Load More</a></li>
  </div>
</div>
{% endblock %}
