.container {
    margin-top:10px;
}

.navi {
    margin-bottom: 20px;
    margin-left: 10px;
}

.navi ul {
    list-style-type: none;
    float: right;
    margin-top: 20px;
}

ul li {
    float:left;
    margin-left: 10px;
}


.mainbox {
    height: 300px;
    width:100%;
    background: #99CCCC;
    border-radius: 5px;
}

.addcapsule {
    border: 3px solid #99CCCC;
    border-radius: 5px;
    width:500px;
}

textarea {
    width: 487px;
    resize:none;
}

#text {
    height:250px;
}

#tags {
    width:487px;
}

button {
    background: #99CCCC;
    height: 50px;
    border-radius: 25px;
    border-style: none;
    font-size: 1.5em;
}

#new_capsule {
    width: 200px;
}

#add_capsule {
    width: 50px;
    margin-left: 400px;
    margin-top: 10px;
}

#form_float {
    height: 50px;
    width: 487px;

}

#info {
    margin-left: 200px;
    margin-top: 200px;
    font-size: 1em;
    
}

.login {
    background: #99CCCC;
    height: 50px;
    width: 200px;
    border-radius: 25px;
    border-style: none;
    font-size: 1.5em;
    float: right;
    text-align: center;
}

.selection-box {
    position: absolute;
    background: transparent;
    border: 2px solid #0EBFE9;
    border-radius: 5px;
}

.comment-box {
    position: absolute;
    border: 2px solid #65909A;
    border-radius: 5px;
}

.scaffold {
    background-color: #FFAEB9;
}

.row {
    margin: 0 0 10px 0;
    background-color: #DC143C;
}

.main-capsule {
    height: 600px;
}

.friend-capsule {
    height: 100px;
}

.main-capsule-body {
    border: 1px solid black;
    min-height: 90%;
    position: relative;
}

.hover-box {
    height: 100px;
    width: 100px;
    background-color: green;
    position: fixed;
}

.previewable {
    background-color: yellow;
}

.new-capsule-box {
    height: 100px;
    width: 100px;
    background-color: purple;
    position: absolute;
}