.navi {
    margin: 10px 0 20px 10px;
}

.navi ul {
    list-style-type: none;
    float: right;
    margin-top: 20px;
}

.navi ul li {
    float:left;
    margin-left: 10px;
}

body {
    /* background-color: #F6F6F6; */
    background-image: url('/static/img/background-pattern.png');
}


/* .mainbox { */
/*     height: 300px; */
/*     width:100%; */
/*     background: #99CCCC; */
/*     border-radius: 5px; */
/* } */

/* .addcapsule { */
/*     border: 3px solid #99CCCC; */
/*     border-radius: 5px; */
/*     width:500px; */
/* } */

/* textarea { */
/*     width: 487px; */
/*     resize:none; */
/* } */

/* #text { */
/*     height:250px; */
/* } */

/* #tags { */
/*     width:487px; */
/* } */

/* button { */
/*     background: #99CCCC; */
/*     border-radius: 25px; */
/*     border-style: none; */
/*     font-size: 1.5em; */
/* } */

/* #new_capsule { */
/*     width: 200px; */
/* } */

/* #add_capsule { */
/*     width: 50px; */
/*     margin-left: 400px; */
/*     margin-top: 10px; */
/* } */

/* #form_float { */
/*     height: 50px; */
/*     width: 487px; */

/* } */

/* #info { */
/*     margin-left: 200px; */
/*     margin-top: 200px; */
/*     font-size: 1em; */
    
/* } */

/* .login { */
/*     background: #99CCCC; */
/*     height: 50px; */
/*     width: 200px; */
/*     border-radius: 25px; */
/*     border-style: none; */
/*     font-size: 1.5em; */
/*     float: right; */
/*     text-align: center; */
/* } */

.selection-box {
    position: absolute;
    background: transparent;
    border: 2px solid #0EBFE9;
    border-radius: 5px;
}

.comment-box {
    position: absolute;
    border: 2px solid #65909A;
    border-radius: 5px;
}

.scaffold {
    background-color: #FFAEB9;
}

.row {
    margin: 0 0 10px 0;
    background-color: #DC143C;
}

#main-capsule {
    min-height: 600px;
    padding: 0 15px;
}

.title {
    border-bottom: 1px solid #DDD;
    padding-bottom: 10px;
}

.capsule {
    border: 1px solid #DDD;
    border-radius: 4px;
    box-shadow: 0 1px 5px #CCC;
    background-color: #FFF;
}

.friend {
    height: 100px;
    margin: 0 0 10px 0;
    cursor: hand;
    cursor: pointer;
    padding: 0 10px;
}

.main-capsule-body {
    min-height: 90%;
    position: relative;
}

.hover-box {
    height: 100px;
    width: 100px;
    background-color: green;
    position: fixed;
}

.previewable {
    background-color: yellow;
}

.new-capsule-box {
    height: 100px;
    width: 100px;
    background-color: purple;
    position: absolute;
}

.stream {
    height: 200px;
    margin: 0 0 10px 0;
    padding: 0 10px;
    cursor: hand;
    cursor: pointer;
}

.friend img {
    margin: 5px;
    height: 90px;
    width: 90px;
}

#linked-pane {
    border: 1px solid #DDD;
    border-radius: 4px;
    background-color: #FFF;
    padding: 0 10px;
    margin-bottom: 20px;
}

#edit-button {
    margin-top: 5px;
}