.navi {
    margin: 10px 0 20px 10px;
}

.navi ul {
    list-style-type: none;
    float: right;
    margin-top: 20px;
}

.navi ul li {
    float:left;
    margin-left: 10px;
}

body {
    /* background-color: #F6F6F6; */
    background-image: url('/static/img/background-pattern.png');
}

.selection-box {
    position: fixed;
    background: transparent;
    border: 2px solid #0EBFE9;
    border-radius: 5px;
}

.selection {
    background-color: #B3D4FD;
}

.comment-box {
    position: fixed;
    border: 2px solid #65909A;
    border-radius: 5px;
    cursor: hand;
    cursor: pointer;
}

.scaffold {
    background-color: #FFAEB9;
}

.row {
    margin: 0 0 10px 0;
    background-color: #DC143C;
}

#main-capsule {
    min-height: 600px;
    padding: 0 15px;
}

.title {
    border-bottom: 1px solid #DDD;
    padding-bottom: 10px;
    color: #333;
}

.underline {
    border-bottom: 1px solid #DDD;
    padding-bottom: 0;
}

.capsule {
    /* position: relative; */
    border: 1px solid #DDD;
    border-radius: 4px;
    box-shadow: 0 1px 5px #CCC;
    background-color: #FFF;
}

.stream p {
    position: relative;
    height: 125px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.friend {
    height: 115px;
    margin: 0 0 10px 0;
    cursor: hand;
    cursor: pointer;
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#main-capsule-body {
    min-height: 90%;
    /* position: relative; */
}

.hover-box {
    height: 100px;
    width: 100px;
    background-color: green;
    position: relative;
}

.previewable {
    background-color: #A3DFDE;
    cursor: hand;
    cursor: pointer;
}

.new-capsule-box {
    height: 300px;
    width: 300px;
    /* background-color: purple; */
    position: absolute;
    z-index: 3;
    padding: 8px 14px;
}

.stream {
    height: 200px;
    margin: 0 0 10px 0;
    padding: 0 10px;
    cursor: hand;
    cursor: pointer;
}

.friend img {
    margin: 5px;
    height: 90px;
    width: 90px;
}

#linked-pane {
    border: 1px solid #DDD;
    border-radius: 4px;
    background-color: #FFF;
    padding: 0 10px;
    margin-bottom: 20px;
}

.top-button {
    margin-top: 5px;
}
.bottom-button {
    margin-bottom: 5px;
}

h5 button {
    margin-top: -5px;
}

h4 button {
    margin-top: -5px;
}

#text-input {
    max-height: 500px;
    height: 500px;
    max-width: 98%;
    width: 98%;
}

#title-input {
    font-size: 38.5px;
    height: 40px;
}

#image-input {
    width: 98%;
}

#popup-textarea {
    max-height: 200px;
    height: 200px;
    max-width: 96%;
    width: 96%;
    
}

.friend p {
    width: 100%;
    height: 100%;
}

.friend img {
    height: 40px;
    width: auto;
}

.popup-view-close {
    margin-left: 5px;
}

#search-form {
    margin-left: 30px;
}

.stream img {
    height: 120px;
    width: auto;
}
