

.container {
	margin-top:10px;
}

.navi {
	margin-bottom: 20px;
	margin-left: 10px;
}

.navi ul {
	list-style-type: none;
	float: right;
	margin-top: 20px;
}

ul li {
	float:left;
	margin-left: 10px;
}


.mainbox {
	height: 300px;
	width:100%;
	background: #99CCCC;
	border-radius: 5px;
}

.addcapsule {
	border: 3px solid #99CCCC;
	border-radius: 5px;
	width:500px;
}

textarea {
	width: 487px;
	resize:none;
}

#text {
	height:250px;
}

#tags {
	width:487px;
}

button {
	background: #99CCCC;
	height: 50px;
	width: 200px;
	border-radius: 25px;
	border-style: none;
	font-size: 1.5em;
}

#info {
	float: center;
	font-size: 2em;
	
}
